<div id="rules">
    <h1>How to Play</h1>
    <p>There is no wrong way to play Rainbow Road Trip as long as you are having fun. The rules below, however, are the ones designed by Mae and Ike (with refinement from Dad).</p>
    <h2>Setup</h2>
    <p>Make sure both players have the same colors and scoring points for cars. The default should be fine but make sure each players <a routerLink="/settings">Settings page</a> is identical for colors and points.</p>
    <h2>Basic Rules</h2>
    <p>While riding in a car, look for cars of different colors. Call out the car and color so that other players don't claim it. Different colors are different points and each "rainbow" (complete set of colors) is additional bonus points. The person with the most points at the end of the trip wins.</p>
    <h2>Additional Rules</h2>
    <p>Any emergency cars you find (police, ambulance, firefighter) are wild so you can pick any color you like. Otherwise, same rules apply for them.</p>
    <p>A lot of colors are mixes of different colors so in that case, just pick the color you think they most look like for the points you claim. In other words, you can count turquoise as either green and blue.</p>
</div>